body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-areas: "head     head"
                       "options  map"
                       "main     map";
  grid-template-rows: 2fr 3fr 15fr;
  grid-template-columns: 2fr 3fr;
}

