body {
  margin: 0;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr;
}

.map {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: auto;
}
